---
layout: page
title: "PhD Thesis: Distributed coordination and perception for multi-robot systems"
description: "My PhD Thesis, which includes real-robot GBP and all of my research."
img: assets/img/publication_preview/imperial_college_crest.png
redirect: https://spiral.imperial.ac.uk/entities/publication/d7f69b3b-29a9-4d28-962a-2f7474454359
importance: 2
category: work
---



{% raw %}
```html
<div class="row justify-content-sm-center">
    <div class="col-sm-8 mt-3 mt-md-0">
        {% include figure.html path="assets/img/6.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm-4 mt-3 mt-md-0">
        {% include figure.html path="assets/img/11.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
```
{% endraw %}